@model Local_C.Models.DirectoryModel

<h3>@Model.Name</h3>

<table>
    <tr>
        <th>Number</th>
        <th>Name</th>
    </tr>
    @{
        int i = 0;
        foreach(var dir in Model.SubDirectories) {
            i++;
            <tr>
                <td>@i</td>
                <td><a href="/Downloads/Serve?fullName=@dir.Path&Type=@dir.Type">@dir.Name</a></td>
            </tr>
        }
    }
</table>

@if(Model.Files?.Any() == true) {
    <hr />
    <table>
        <tr>
            <th>Number</th>
            <th>Name</th>
        </tr>
        @{
            int j = 0;
            foreach(var file in Model.Files) {
                j++;
                <tr>
                    <td>@j</td>
                    <td><a href="/Downloads/Serve?fullName=@file.Path&Type=@file.Type">@file.Name</a></td>
                </tr>
            }
        }
    </table>
}